
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
XICON01               ICON    DISCARDABLE     "Icone Coffre (16x16).ico"

