<html>
<head>
<TITLE>Dragon UnPACKer v$$DUPVER$$ - $$FILENAME$$</TITLE>
<style>
<!--

  a { color: #0000FF; text-decoration: none }
  a:hover { color: #0000FF; text-decoration: underline }
  a:visited { color: #0000FF }

  -->
</style>
</head>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 BACKGROUND=back_ds2k.jpg>

<center>
<IMG SRC="dup4_titre.gif" WIDTH=297 HEIGHT=41 ALT="Dragon UnPACKer" BORDER=0><br>
<table width=300 bgcolor=#000000>
  <tr align=center>
    <td bgcolor=#D00000>$$LNG<LSTCP1>$$: <font color="#FFFF00"><b>$$FILENAME$$</b></font></td>
  </tr>
</table>
<br>
<hr size=1 NOSHADE>
<br>
<table border=0 cellpadding=0 cellspacing=2 bgcolor=#000000 width="100%">
  <tr>
    <td bgcolor=#EF0000 align=center><font color=#FFFFFF>$$LNG<LSTCP1>$$</font></td>
    <td bgcolor=#DF0000 width=100 align=center><font color=#FFFFFF>$$LNG<LSTCP2>$$</font></td>
    <td bgcolor=#CF0000 width=100 align=center><font color=#FFFFFF>$$LNG<LSTCP3>$$</font></td>
    <td bgcolor=#BF0000 align=center><font color=#FFFFFF>$$LNG<LSTCP4>$$</font></td>
  </tr>
