
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
MAINICON			  ICON    				  "icon-dragonunpacker-main-32x32.ico"
XICON01               ICON    DISCARDABLE     "icon-treasure-chest-256x256.ico"
XICON02               ICON    DISCARDABLE     "icon-treasure-chest-open-256x256.ico"
