VS_VERSION_INFO VERSIONINFO
FILEVERSION 5, 7, 0, 683
PRODUCTVERSION 5, 7, 0, 683
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x2L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040C04E4"
        BEGIN
			VALUE "Comments", "Universal game ripper/Ripper universel de jeux"
            VALUE "CompanyName", "ElberethZone"
            VALUE "FileDescription", "Dragon UnPACKer 5"
            VALUE "FileVersion", "5, 7, 0, 683"
            VALUE "InternalName", "DrgUnPack5"
            VALUE "LegalCopyright", "Created by Alexandre 'Elbereth' Devilliers under Mozilla Public License 1.1"
            VALUE "OriginalFilename", "DrgUnPack5.exe"
            VALUE "ProductName", "Dragon UnPACKer 5"
            VALUE "ProductVersion", "5.7.0 Beta"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40C, 1252
    END
END